<div class="screen" data-ideas-target="screen" data-screen-name="result" style="position:relative;">
  <div class="result-header">
    <div class="result-title">きかくさんのアイデア</div>
    <div class="result-badge" data-ideas-target="resultBadge"></div>
  </div>


  <div class="neta-list" data-ideas-target="netaList">
    <%# 企画リストはJSで動的に生成される %>
  </div>

  <div class="result-footer">
    <button class="btn-decide"
            data-ideas-target="btnDecide"
            data-action="click->ideas#shareToX"
            disabled>
      𝕏 でシェアする
    </button>
    <button class="btn-secondary"
            data-action="click->ideas#generateIdeas">
      もう一回考える
    </button>
  </div>

  <div class="copy-toast" data-ideas-target="copyToast">コピーしました！</div>

  <%= render "bottom_nav", active: "result" %>
</div>
